<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Classification_Distributed/src/distributedDoublyLinkedSum/TwoIterations.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="distributedDoublyLinkedSum.TwoIterations"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Classification_Distributed"/>
</launchConfiguration>
